@model Treehouse.AspNetCore.ViewModels.TeamViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team2.TeamName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team2.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team2.LocationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team2.LocationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team2.Division)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team2.Division.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team2.Venue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team2.Venue.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team2.Venue.city)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team2.Venue.city)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Team2.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
