@model Treehouse.AspNetCore.ViewModels.TeamViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Teams" asp-action="Index" method="get">
    <p>

        <select asp-for="TeamDivision" asp-items="Model.Divisions">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team2.TeamName)
            </th>
            <th>
                @Html.ActionLink("Points", "Index", new { sortOrder = "pointssort"})
            </th>
            <th>
                @Html.ActionLink("Games Played", "Index", new {sortOrder = "gamesPlayed"})
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team2.Division.name)
            </th>
        </tr>
    </thead>
    <tbody>
    
    @foreach (var item in Model.Teamz)
    {

        <tr>
            <td>
                <a asp-controller="Players" asp-action="Index" asp-route-teamString="@item.TeamName">@Html.DisplayFor(modelItem => item.name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamesPlayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division.name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
